<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a
        class="list-group-item list-grup-item-action"
        [class.active]="!category"
        routerLink="/"
        >All Category</a
      >
      <a
        *ngFor="let c of categories"
        routerLink="/"
        [queryParams]="{ category: c.$key }"
        class="list-group-item list-grup-item-action"
        [class.active]="category === c.$key"
      >
        {{ c.name }}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let b of filterBooks; let i = index">
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              class="card-img-top bookItem"
              [src]="b.url"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ b.bookName }}</h5>
              <p class="card-text">
                {{ b.price | currency: "USD":true }}
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
